html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

body {
  font-family: 'Kanit', sans-serif;
  background: center / cover no-repeat url("../images/background.jpg") fixed;
}